Practical-01/prog1
Practical-02/prog2
Practical-03/prog3
Practical-04/prog4
Practical-05/prog5
Practical-05/lsgrep
Practical-06/prog6_fifo_server
Practical-06/prog6_fifo_client
Practical-06/signal_handler
Practical-07/prog7_linuxaddr
Practical-07/memory_demo
Practical-08/prog8_dynamicmemory
Practical-08/cow_demo
*.o
*.exe
*.out
